 .contact {
    margin-top: 4rem;
    color: white;
     padding: 20px;
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);

}

/* Styling for the links within the footer */
 .contact a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
  
}
.mobile-menue{
     background-color: white;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 100;
     width: 180px;
     height: 100vh;
     opacity: 0.7;
     display: none;
     color: black;
     border-right: 1px solid gray;
}
.nav-links-container{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 200px;
 }

.mobile-menue .nav-link{
    padding: 0.5rem 2rem;
    color: inherit;
    text-decoration: none;

}
.nav-link:hover{
    color: var(--primary-color);

}
.nav-link span{
    pointer-events: none;
    margin-left: 0.8rem; 
}
.close-btn{
     position: absolute;
     right: 4px;
     top: 10px;
     font-size: 1rem;
     color: inherit;
   }