header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--dark-background-color); */
   }
 .nav-menue{
       flex: 1;
       max-width: 500px;
       display: flex;
      justify-content: space-between;
     
     }
  .hr-vr-center {
     display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a:hover{
    color: var(--primary-color);
  }
  .active-link{
    color: var(--primary-color);
   }
 
 header .nav-link, header a{
    text-decoration: none;
    color: black;
  }
