I{
    z-index: 0;
}

.btn-theme {
    position: fixed;
    right: 3rem;
    top: 5rem;
 }
 .btn-theme:hover {color: var(--primary-color);

 }
 .fa-sun{
    color: rgb(209, 163, 79) !important
 }
 .fa-moon{
    color: black
 }
 .fa-bars{
   display: none;
   position: fixed;
   top: 1.45rem;
   left: 1rem;
   color: inherit;
 }
 .skill i{
    color: gray;
 }