 

section{
     width: 75%;
     margin: 0 auto;
     /* border: 1px solid white; */
}
.section-title, 
.section-subtitle,
.center{
  text-align: center;
}
.section-subtitle{
  margin: 0.5rem 0;
  color:gray;
  font-size: 0.8rem; 
}

 /* home styles */
 #home{
    height: 100vh;
    padding-top: 140px ;
    display: block;
    }
.home-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 
.myphoto{
     width: 300px;
     border-radius: 50%;
}
.vertical-bar{
    width: 5px;
    background-color: var(--primary-color);
    height: 300px;
    color: var(--primary-color);
 
}
.my-name{
     font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 8px;
}
.career-status,.career-desc{
   color: gray; 
   font-size: 1rem;
}
.career-status{
margin-bottom: 1rem;
}
.career-desc{
  margin-bottom: 4rem ;
}
.btn-link{ 
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding:  0.8rem 2rem;
}


/* about me styles */
#about{
    padding-top:  100px;
}
.about-grid{
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 6fr;
} 
 
.about-me{
    width: 300px;  
}
 
/* skills styles */
#skills{
    padding-top:  100px;

}
.skills-container {
     display: grid;
    grid-template-columns: 1fr 1fr;
    }
.skill {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* background-color: rgb(97, 76, 201); */
  color: inherit;
  padding: 1rem 1.3rem 1rem;
  border-radius: 6px; 
  margin: 6px 9px;
  cursor: pointer;
}
.hr{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-level{
  color: var(--primary-color);
  font-size: large;
}
.skill:hover{
  background-color: lightgray;
}
.skill-name{
  margin-bottom: 1.8rem;
}

  /* education stlye  */
#education{
  /* border: 1px solid gray; */
  padding-top:  100px;
}

.education-path {
  display: grid;
   margin: 1rem auto;
}
.education-data {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  /* border: 1px solid white; */
  }
.education-type{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.4rem;
  color: var(--primary-color);
}
.education-place{
  margin-bottom: 1.2rem;
  font-size: 0.9rem;

}
.education-date{
  font-size: 0.8rem;
  color: gray;
  margin-right:8px;
   }
.education-round {
  width: 15px;
  height: 15px;
  border-radius: 13px;

  background-color: var(--primary-color);
}
.education-line {
  width: 1px;
  height: 100%;
  border-left: 2px solid var(--primary-color);
}
.time-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 /* project stles... */
 #projects{
  padding-top: 100px ;
 }
 .project {
  display: flex;
  align-items: center;
 }
.thumbnail-container{
margin-top: 1.5rem;
width: 400px;
height: 200px;
  }
.project-thumbnail {
    width:  100%;
    max-height: 100%;
   }
 .about-project{
  margin-left: 2rem;
 }
 .project-desc{
  margin-bottom: 2rem;
 }
 .project-link{
  background-color: var(--primary-color);
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none;
  }
.pagination-container{
  display: flex;
  justify-content: center;
  gap: 4px;
 }
 .swipper{
  margin-top: 1rem;
  font-size: 20px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
 }

 

 