@media only screen and (max-width: 1100px) {
 
  section{
        width: 80%;
       }
}
@media only screen and (max-width: 1000px) {
    section{
        width: 95%;
       }   
}
@media only screen and (max-width: 885px) {  
    .myphoto{
        width: 200px;
        margin-right: 0.5rem;
        }
        .vertical-bar{
        height: 200px   
       }
}
@media only screen and (max-width: 669px) {  
    .myphoto{
        width: 180px;
        margin-right: 0.5rem;
    }
    .vertical-bar{
      width: 3px;
      height: 180px;

    }
    .my-name{
        margin-top: 1.6rem;
    }
  
  .btn-link{
    display: none;
    }
    .about-grid{
    display: flex;
    flex-direction: column;

    }
    #about{
        padding-top:  200px;
    }
    header .myname{
        display: none;
    }
    .skills-container{
        grid-template-columns:1fr;
    }
    .education-place {
       font-size: 0.7rem;

    }
    
}
@media only screen and (max-width: 570px) { 
    .home-container{
        flex-direction: column;
    }
    .photo-container{
        display: flex;
      justify-content:center ;
     }
    .my-name{
        font-size: 1.5rem;
    }
    .my-name,.career-status,.career-desc{
        text-align: center;
        width: 100%;
    }
    .myphoto{
        width: 50%;
     
        margin-bottom: 0.5rem;
    }
    .vertical-bar{
        display: none;
    }
    #about{
        padding-top:  200px;
    }
    .about-grid{
    display: flex;
    flex-direction: column;
    }
}
@media only screen and (orientation: portrait) {
    #home{
        height: unset;
    }
   
     #about,#skills,#education,#projects{
        padding-top: 2rem;
        margin-top: 4rem;
     }
     .btn-link{
     display: block;
     width: 200px;
     text-align: center;
     margin: 0 auto;
  
    }
     .skills-container{
        justify-content: center;
    }
    header  {
    display: none;

    }
    .fa-bars {
    display: block;
    }  
    .btn-theme{
    top: 1rem;
    right: 1rem;

    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */


/* Large devices (laptops/desktops, 992px and up) */


